layout node
use nix

export DOCKER_HOST=unix:///run/user/$UID/podman/sock
export REDIS_HOST=localhost
export REDIS_PORT=6379
export REACT_APP_API_URL=http://localhost:8000
export APP_URL=http://localhost:3000
export DJANGO_SECRET_KEY=django-insecure-*z$s*fvvfupt-s5d084gu9_p6p7$p9bp=0da08v40w%5wck5#
export DEBUG=True
